In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.ticker as ticker
import matplotlib.ticker as plticker
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import RepeatedStratifiedKFold
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import AdaBoostClassifier
from numpy import loadtxt
from xgboost import XGBClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import VotingClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import confusion_matrix
from sklearn.metrics import precision_score, recall_score, f1_score,accuracy_score

In [2]:
world_cup = pd.read_csv('world_cup_t20_dataset.csv')
results = pd.read_csv('final.csv', index_col = [0])

In [3]:
results.info

<bound method DataFrame.info of             Date        Team_1       Team_2        Winner     Margin  \
0     09-11-2007  South Africa  West Indies  South Africa  8 wickets
1     09-12-2007         Kenya  New Zealand   New Zealand  9 wickets
2     09-12-2007      Pakistan     Scotland      Pakistan    51 runs
3     09-12-2007     Australia     Zimbabwe      Zimbabwe  5 wickets
4     13-09-2007    Bangladesh  West Indies    Bangladesh  6 wickets
...          ...           ...          ...           ...        ...
1456  07-10-2022     Australia  West Indies     Australia    31 runs
1457  08-10-2022   New Zealand     Pakistan      Pakistan  6 wickets
1458  09-10-2022         Japan    Indonesia         Japan    64 runs
1459  09-10-2022   New Zealand   Bangladesh   New Zealand  8 wickets
1460  09-10-2022     Australia      England       England     8 runs

            Ground  Winner
0     Johannesburg      NaN
1           Durban      NaN
2           Durban      NaN
3        Cape Town      NaN
4     Johannesburg      NaN
...            ...      ...
1456      Brisbane      NaN
1457  Christchurch      NaN
1458          Sano      NaN
1459  Christchurch      NaN
1460         Perth      NaN

[1461 rows x 7 columns]>

In [4]:
n = 1
results = results.iloc[:,:-n]
print(results)

            Date        Team_1       Team_2        Winner     Margin  \
0     09-11-2007  South Africa  West Indies  South Africa  8 wickets
1     09-12-2007         Kenya  New Zealand   New Zealand  9 wickets
2     09-12-2007      Pakistan     Scotland      Pakistan    51 runs
3     09-12-2007     Australia     Zimbabwe      Zimbabwe  5 wickets
4     13-09-2007    Bangladesh  West Indies    Bangladesh  6 wickets
...          ...           ...          ...           ...        ...
1456  07-10-2022     Australia  West Indies     Australia    31 runs
1457  08-10-2022   New Zealand     Pakistan      Pakistan  6 wickets
1458  09-10-2022         Japan    Indonesia         Japan    64 runs
1459  09-10-2022   New Zealand   Bangladesh   New Zealand  8 wickets
1460  09-10-2022     Australia      England       England     8 runs

            Ground
0     Johannesburg
1           Durban
2           Durban
3        Cape Town
4     Johannesburg
...            ...
1456      Brisbane
1457  Christchurch
1458          Sano
1459  Christchurch
1460         Perth

[1461 rows x 6 columns]

In [5]:
results.info

<bound method DataFrame.info of             Date        Team_1       Team_2        Winner     Margin  \
0     09-11-2007  South Africa  West Indies  South Africa  8 wickets
1     09-12-2007         Kenya  New Zealand   New Zealand  9 wickets
2     09-12-2007      Pakistan     Scotland      Pakistan    51 runs
3     09-12-2007     Australia     Zimbabwe      Zimbabwe  5 wickets
4     13-09-2007    Bangladesh  West Indies    Bangladesh  6 wickets
...          ...           ...          ...           ...        ...
1456  07-10-2022     Australia  West Indies     Australia    31 runs
1457  08-10-2022   New Zealand     Pakistan      Pakistan  6 wickets
1458  09-10-2022         Japan    Indonesia         Japan    64 runs
1459  09-10-2022   New Zealand   Bangladesh   New Zealand  8 wickets
1460  09-10-2022     Australia      England       England     8 runs

            Ground
0     Johannesburg
1           Durban
2           Durban
3        Cape Town
4     Johannesburg
...            ...
1456      Brisbane
1457  Christchurch
1458          Sano
1459  Christchurch
1460         Perth

[1461 rows x 6 columns]>

In [6]:
results.head()

,Date,Team_1,Team_2,Winner,Margin,Ground
0,09-11-2007,South Africa,West Indies,South Africa,8 wickets,Johannesburg
1,09-12-2007,Kenya,New Zealand,New Zealand,9 wickets,Durban
2,09-12-2007,Pakistan,Scotland,Pakistan,51 runs,Durban
3,09-12-2007,Australia,Zimbabwe,Zimbabwe,5 wickets,Cape Town
4,13-09-2007,Bangladesh,West Indies,Bangladesh,6 wickets,Johannesburg

In [7]:
results.isnull().sum()

Date       0
Team_1     0
Team_2     0
Winner     5
Margin    43
Ground     0
dtype: int64

In [8]:
df = results.dropna()
df.reset_index(drop=True)

,Date,Team_1,Team_2,Winner,Margin,Ground
0,09-11-2007,South Africa,West Indies,South Africa,8 wickets,Johannesburg
1,09-12-2007,Kenya,New Zealand,New Zealand,9 wickets,Durban
2,09-12-2007,Pakistan,Scotland,Pakistan,51 runs,Durban
3,09-12-2007,Australia,Zimbabwe,Zimbabwe,5 wickets,Cape Town
4,13-09-2007,Bangladesh,West Indies,Bangladesh,6 wickets,Johannesburg
...,...,...,...,...,...,...
1410,07-10-2022,Australia,West Indies,Australia,31 runs,Brisbane
1411,08-10-2022,New Zealand,Pakistan,Pakistan,6 wickets,Christchurch
1412,09-10-2022,Japan,Indonesia,Japan,64 runs,Sano
1413,09-10-2022,New Zealand,Bangladesh,New Zealand,8 wickets,Christchurch
1414,09-10-2022,Australia,England,England,8 runs,Perth

In [9]:
df.isnull().sum()

Date      0
Team_1    0
Team_2    0
Winner    0
Margin    0
Ground    0
dtype: int64

In [10]:
df.head()

,Date,Team_1,Team_2,Winner,Margin,Ground
0,09-11-2007,South Africa,West Indies,South Africa,8 wickets,Johannesburg
1,09-12-2007,Kenya,New Zealand,New Zealand,9 wickets,Durban
2,09-12-2007,Pakistan,Scotland,Pakistan,51 runs,Durban
3,09-12-2007,Australia,Zimbabwe,Zimbabwe,5 wickets,Cape Town
4,13-09-2007,Bangladesh,West Indies,Bangladesh,6 wickets,Johannesburg

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1415 entries, 0 to 1460
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    1415 non-null   object
 1   Team_1  1415 non-null   object
 2   Team_2  1415 non-null   object
 3   Winner  1415 non-null   object
 4   Margin  1415 non-null   object
 5   Ground  1415 non-null   object
dtypes: object(6)
memory usage: 77.4+ KB

In [12]:
df['Margin'].value_counts

<bound method IndexOpsMixin.value_counts of 0       8 wickets
1       9 wickets
2         51 runs
3       5 wickets
4       6 wickets
          ...
1456      31 runs
1457    6 wickets
1458      64 runs
1459    8 wickets
1460       8 runs
Name: Margin, Length: 1415, dtype: object>

In [13]:
df.isnull().sum()
df_teams_2010 = df.drop(['Date','Margin', 'Ground'], axis=1)
df_teams_2010

            Team_1       Team_2        Winner
0     South Africa  West Indies  South Africa
1            Kenya  New Zealand   New Zealand
2         Pakistan     Scotland      Pakistan
3        Australia     Zimbabwe      Zimbabwe
4       Bangladesh  West Indies    Bangladesh
...            ...          ...           ...
1456     Australia  West Indies     Australia
1457   New Zealand     Pakistan      Pakistan
1458         Japan    Indonesia         Japan
1459   New Zealand   Bangladesh   New Zealand
1460     Australia      England       England

[1415 rows x 3 columns]

In [14]:
name_of_teams=df_teams_2010.loc[:,"Team_1"]

In [15]:
unique_team_names=[]
for i in name_of_teams:
    if i not in unique_team_names:
        unique_team_names.append(i)
print(len(unique_team_names))

98

In [16]:
df['Margin'].unique()

array(['8 wickets', '9 wickets', '51 runs', '5 wickets', '6 wickets',
       '50 runs', '172 runs', 'tied', '7 wickets', '10 runs', '19 runs',
       '33 runs', '5 runs', '64 runs', '18 runs', '10 wickets',
       '4 wickets', '37 runs', '15 runs', '25 runs', '130 runs',
       '48 runs', '82 runs', '1 run', '83 runs', '20 runs', '9 runs',
       '3 runs', '39 runs', '5 wickets(D/L method)', '12 runs', '7 runs',
       '57 runs', '2 wickets', '70 runs', '21 runs', '14 runs', '34 runs',
       '14 runs (D/L method)', '8 wickets (D/L method)',
       '7 runs (D/L method)', '27 runs', '59 runs', '13 runs', '49 runs',
       '81 runs', '11 runs', '3 wickets', '23 runs', '116 runs',
       '32 runs', '17 runs (D/L method)', '90 runs',
       'one-over eliminator', '16 runs', '74 runs', '36 runs', '80 runs',
       '21 runs (D/L method)', '9 runs (D/L Method)', '2 runs', '73 runs',
       '6 runs', '45 runs', '84 runs', '27 runs (D/L method)', '8 runs',
       '8 wickets DLS method', '54 runs DLS method', '47 runs', '55 runs',
       '22 runs', '75 runs', '24 runs', '91 runs', '98 runs', '78 runs',
       '41 runs', '17 runs', '28 runs', '30 runs', '29 runs', '53 runs',
       '40 runs', '93 runs', '88 runs', '119 runs', '143 runs', '72 runs',
       '4 runs', '46 runs', '115 runs', '76 runs', '100 runs', '66 runs',
       '71 runs', '35 runs', '1 wicket', '137 runs', '133 runs',
       '63 runs', '109 runs', '62 runs', '52 runs', '42 runs', '38 runs',
       '124 runs', '31 runs', '173 runs', '257 runs', '135 runs',
       '58 runs', '26 runs', '60 runs', '43 runs', '69 runs', '44 runs',
       '87 runs', '92 runs', '134 runs', '54 runs', '141 runs', '67 runs',
       '107 runs', '106 runs', '65 runs', '97 runs', '102 runs',
       '128 runs', ' 84 runs', ' 6 wickets', '5 wkts', '142 runs',
       '61 runs', '89 runs', '56 runs', '96 runs', '110 runs', '79 runs',
       '95 runs', '171 runs', '178 runs', '122 runs', '145 runs',
       '140 runs', '86 runs', '208 runs', '118 runs', '136 runs',
       '68 runs', '85 runs', '105 runs', '111 runs', '132 runs',
       '155 runs', '94 runs', '166 runs', '120 runs', '158 runs',
       '101 runs'], dtype=object)

In [17]:
df_teams_2010

            Team_1       Team_2        Winner
0     South Africa  West Indies  South Africa
1            Kenya  New Zealand   New Zealand
2         Pakistan     Scotland      Pakistan
3        Australia     Zimbabwe      Zimbabwe
4       Bangladesh  West Indies    Bangladesh
...            ...          ...           ...
1456     Australia  West Indies     Australia
1457   New Zealand     Pakistan      Pakistan
1458         Japan    Indonesia         Japan
1459   New Zealand   Bangladesh   New Zealand
1460     Australia      England       England

[1415 rows x 3 columns]

In [18]:
df_teams_2010["Winner"]

0       South Africa
1        New Zealand
2           Pakistan
3           Zimbabwe
4         Bangladesh
            ...
1456       Australia
1457        Pakistan
1458           Japan
1459     New Zealand
1460         England
Name: Winner, Length: 1415, dtype: object

In [19]:
unique_name_winner=df_teams_2010["Winner"]
unique_name_final_val=[]
for i in unique_name_winner:
    if i not in unique_name_final_val:
        unique_name_final_val.append(i)
len(unique_name_final_val)

89

In [20]:
features1=df_teams_2010.loc[:,"Team_1"]
features1
features2=df_teams_2010.loc[:,"Team_2"]
features2

0       West Indies
1       New Zealand
2          Scotland
3          Zimbabwe
4       West Indies
           ...
1456    West Indies
1457       Pakistan
1458      Indonesia
1459     Bangladesh
1460        England
Name: Team_2, Length: 1415, dtype: object

In [21]:
class_value=df_teams_2010.loc[:,"Winner"]
class_value

0       South Africa
1        New Zealand
2           Pakistan
3           Zimbabwe
4         Bangladesh
            ...
1456       Australia
1457        Pakistan
1458           Japan
1459     New Zealand
1460         England
Name: Winner, Length: 1415, dtype: object

In [22]:
class_value_not=df_teams_2010.loc[:,"Winner"]

In [23]:
from sklearn.model_selection import permutation_test_score
from sklearn.preprocessing import LabelEncoder
from keras.utils import to_categorical

In [24]:
lb=LabelEncoder()
y1=to_categorical(lb.fit_transform(class_value))
y1

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]], dtype=float32)

In [25]:
lb=LabelEncoder()
class_value=lb.fit_transform(class_value)
class_value

array([73, 53, 58, ..., 38, 53, 22])

In [26]:
lb=LabelEncoder()
features1=lb.fit_transform(features1)
features1

array([86, 50, 70, ..., 48, 63,  2])

In [27]:
lb=LabelEncoder()
features2=lb.fit_transform(features2)
features2

array([93, 59, 73, ..., 38,  7, 25])

In [28]:
len(features2)

1415

In [29]:
features1=list(features1)
features2=list(features2)

In [30]:
ex=[]
ex1=[]
for i in range(len(features1)):
    ex=[]
    ex.append(features1[i])
    ex.append(features2[i])
    ex1.append(ex)
#then collection run

In [31]:
from collections import Counter
class_list=[]
for i in class_value:
    class_list.append(i)
#z=Counter(class_value)
class_list

[73,
 53,
 58,
 88,
 6,
 22,
 75,
 2,
 33,
 75,
 73,
 53,
 2,
 73,
 58,
 53,
 58,
 75,
 73,
 33,
 2,
 58,
 33,
 58,
 33,
 33,
 52,
 53,
 86,
 33,
 73,
 22,
 34,
 75,
 58,
 73,
 75,
 33,
 53,
 73,
 75,
 86,
 73,
 58,
 75,
 22,
 58,
 86,
 75,
 73,
 58,
 75,
 58,
 53,
 86,
 33,
 58,
 33,
 2,
 75,
 86,
 53,
 2,
 73,
 22,
 73,
 2,
 75,
 53,
 22,
 86,
 2,
 58,
 22,
 75,
 2,
 22,
 2,
 22,
 75,
 2,
 33,
 73,
 53,
 22,
 73,
 2,
 58,
 33,
 58,
 47,
 86,
 58,
 2,
 22,
 75,
 2,
 33,
 47,
 75,
 58,
 33,
 75,
 86,
 86,
 6,
 51,
 34,
 52,
 0,
 6,
 88,
 34,
 51,
 31,
 88,
 52,
 33,
 75,
 53,
 58,
 33,
 73,
 75,
 86,
 73,
 22,
 86,
 33,
 53,
 73,
 58,
 33,
 52,
 75,
 2,
 86,
 75,
 33,
 75,
 88,
 0,
 6,
 56,
 88,
 0,
 0,
 68,
 52,
 6,
 53,
 58,
 86,
 75,
 53,
 22,
 33,
 73,
 86,
 2,
 53,
 22,
 33,
 2,
 86,
 53,
 22,
 0,
 33,
 73,
 22,
 86,
 86,
 53,
 53,
 53,
 68,
 0,
 52,
 56,
 0,
 68,
 34,
 31,
 68,
 0,
 34,
 0,
 73,
 75,
 75,
 22,
 33,
 33,
 73,
 75,
 75,
 2,
 0,
 0,
 0,
 58,
 58,
 86,
 58,
 75,
 6,
 82,
 82,
 82,
 86,
 86,
 86,
 22,
 73,
 22,
 86,
 33,
 58,
 87,
 58,
 86,
 33,
 2,
 58,
 73,
 58,
 73,
 58,
 33,
 53,
 33,
 33,
 33,
 33,
 53,
 53,
 53,
 58,
 58,
 2,
 0,
 0,
 2,
 2,
 53,
 75,
 2,
 22,
 75,
 33,
 2,
 73,
 33,
 75,
 33,
 6,
 33,
 33,
 6,
 33,
 58,
 58,
 58,
 86,
 0,
 0,
 0,
 52,
 58,
 52,
 58,
 34,
 68,
 68,
 33,
 22,
 33,
 58,
 2,
 2,
 33,
 58,
 58,
 2,
 22,
 58,
 33,
 86,
 6,
 6,
 75,
 0,
 0,
 73,
 73,
 2,
 58,
 58,
 22,
 58,
 58,
 58,
 33,
 58,
 33,
 33,
 73,
 2,
 33,
 86,
 6,
 86,
 53,
 5,
 41,
 5,
 63,
 67,
 63,
 41,
 67,
 63,
 67,
 82,
 51,
 73,
 51,
 73,
 53,
 58,
 33,
 53,
 52,
 34,
 52,
 68,
 34,
 68,
 0,
 0,
 0,
 2,
 2,
 22,
 22,
 22,
 82,
 57,
 57,
 73,
 85,
 61,
 57,
 73,
 74,
 74,
 8,
 59,
 48,
 8,
 8,
 59,
 22,
 26,
 26,
 26,
 40,
 50,
 84,
 50,
 54,
 40,
 54,
 50,
 40,
 84,
 37,
 37,
 39,
 39,
 39,
 37,
 26,
 37,
 39,
 37,
 39,
 21,
 30,
 39,
 26,
 30,
 26,
 21,
 26,
 52,
 44,
 44,
 45,
 44,
 81,
 41,
 63,
 57,
 57,
 66,
 57,
 85,
 57,
 34,
 57,
 51,
 21,
 21,
 51,
 88,
 72,
 44,
 63,
 51,
 41,
 72,
 51,
 63,
 72,
 82,
 33,
 33,
 82,
 82,
 33,
 82,
 24,
 74,
 74,
 9,
 14,
 50,
 83,
 50,
 9,
 14,
 50,
 14,
 9,
 50,
 83,
 14,
 14,
 9,
 64,
 42,
 64,
 3,
 64,
 20,
 3,
 20,
 3,
 20,
 3,
 53,
 53,
 75,
 6,
 0,
 0,
 68,
 34,
 6,
 52,
 33,
 68,
 88,
 34,
 6,
 73,
 88,
 51,
 85,
 72,
 88,
 44,
 85,
 88,
 1,
 12,
 60,
 44,
 16,
 1,
 1,
 56,
 34,
 1,
 48,
 75,
 60,
 48,
 56,
 51,
 1,
 51,
 34,
 75,
 34,
 56,
 75,
 63,
 52,
 56,
 63,
 63,
 13,
 29,
 29,
 20,
 72,
 34,
 52,
 13,
 56,
 57,
 39,
 52,
 68,
 82,
 20,
 57,
 14,
 72,
 56,
 68,
 82,
 34,
 40,
 14,
 50,
 52,
 39,
 50,
 56,
 40,
 14,
 31,
 57,
 82,
 31,
 68,
 57,
 34,
 50,
 74,
 56,
 34,
 62,
 52,
 74,
 74,
 50,
 2,
 57,
 31,
 62,
 39,
 52,
 74,
 82,
 52,
 50,
 2,
 68,
 56,
 68,
 22,
 2,
 52,
 57,
 34,
 52,
 53,
 6,
 53,
 2,
 43,
 43,
 43,
 43,
 33,
 22,
 2,
 43,
 49,
 33,
 86,
 0,
 0,
 51,
 51,
 33,
 45,
 86,
 51,
 33,
 33,
 33,
 34,
 86,
 33,
 58,
 58,
 33,
 33,
 63,
 73,
 63,
 22,
 84,
 22,
 44,
 44,
 2,
 82,
 63,
 41,
 56,
 44,
 73,
 67,
 63,
 44,
 5,
 82,
 56,
 82,
 5,
 41,
 44,
 41,
 82,
 2,
 82,
 72,
 44,
 31,
 44,
 72,
 31,
 51,
 72,
 86,
 31,
 0,
 86,
 0,
 74,
 26,
 6,
 6,
 30,
 42,
 20,
 7,
 7,
 7,
 7,
 22,
 58,
 22,
 22,
 2,
 46,
 46,
 13,
 64,
 64,
 64,
 58,
 58,
 58,
 53,
 22,
 53,
 22,
 22,
 33,
 33,
 2,
 53,
 53,
 58,
 56,
 68,
 34,
 75,
 68,
 6,
 50,
 75,
 6,
 68,
 50,
 75,
 2,
 22,
 76,
 58,
 0,
 73,
 58,
 22,
 50,
 2,
 86,
 58,
 73,
 22,
 0,
 53,
 22,
 73,
 58,
 53,
 33,
 2,
 75,
 53,
 33,
 2,
 73,
 53,
 58,
 33,
 53,
 2,
 2,
 58,
 73,
 58,
 53,
 53,
 2,
 86,
 2,
 75,
 53,
 86,
 22,
 33,
 22,
 0,
 33,
 0,
 0,
 33,
 53,
 53,
 53,
 50,
 50,
 50,
 58,
 73,
 58,
 58,
 51,
 52,
 51,
 52,
 58,
 51,
 88,
 51,
 58,
 20,
 3,
 3,
 42,
 42,
 3,
 22,
 13,
 64,
 22,
 29,
 64,
 64,
 13,
 64,
 22,
 86,
 64,
 73,
 73,
 86,
 73,
 46,
 7,
 7,
 86,
 7,
 86,
 86,
 2,
 58,
 86,
 22,
 73,
 22,
 6,
 73,
 88,
 7,
 7,
 73,
 3,
 6,
 33,
 75,
 75,
 58,
 6,
 6,
 26,
 25,
 26,
 6,
 26,
 2,
 55,
 55,
 26,
 6,
 21,
 78,
 21,
 65,
 27,
 62,
 65,
 46,
 24,
 62,
 27,
 24,
 46,
 78,
 62,
 78,
 62,
 88,
 34,
 6,
 34,
 42,
 32,
 42,
 34,
 64,
 46,
 6,
 64,
 20,
 42,
 64,
 88,
 64,
 53,
 32,
 6,
 26,
 53,
 40,
 73,
 40,
 74,
 84,
 74,
 73,
 84,
 40,
 73,
 84,
 84,
 68,
 54,
 84,
 88,
 88,
 50,
 19,
 19,
 35,
 35,
 34,
 35,
 19,
 82,
 19,
 68,
 35,
 50,
 82,
 50,
 39,
 37,
 27,
 77,
 26,
 27,
 84,
 39,
 70,
 43,
 39,
 56,
 27,
 84,
 26,
 68,
 34,
 75,
 27,
 84,
 37,
 71,
 68,
 65,
 84,
 39,
 6,
 43,
 27,
 39,
 54,
 50,
 70,
 65,
 26,
 75,
 84,
 37,
 6,
 46,
 54,
 39,
 68,
 65,
 43,
 79,
 50,
 43,
 84,
 79,
 75,
 28,
 5,
 54,
 79,
 2,
 67,
 46,
 22,
 41,
 13,
 75,
 63,
 46,
 54,
 58,
 67,
 0,
 54,
 73,
 58,
 5,
 22,
 63,
 50,
 41,
 2,
 5,
 86,
 63,
 58,
 73,
 22,
 0,
 53,
 22,
 11,
 73,
 80,
 58,
 49,
 53,
 80,
 33,
 2,
 ...]

In [32]:
z=Counter(class_value)

In [33]:
print(z)

Counter({33: 96, 58: 85, 2: 64, 53: 62, 73: 60, 22: 60, 75: 54, 86: 49, 0: 43, 34: 35, 6: 34, 51: 32, 50: 29, 84: 28, 52: 27, 82: 27, 88: 25, 68: 23, 44: 23, 26: 21, 64: 21, 39: 20, 3: 20, 56: 18, 57: 18, 20: 18, 74: 17, 63: 16, 40: 16, 14: 16, 7: 16, 46: 16, 41: 15, 31: 13, 37: 13, 13: 13, 21: 12, 72: 11, 42: 11, 80: 11, 5: 10, 24: 10, 83: 10, 43: 10, 85: 9, 30: 9, 62: 9, 54: 8, 9: 8, 49: 8, 27: 8, 35: 8, 1: 7, 67: 6, 55: 6, 78: 6, 32: 6, 19: 6, 79: 6, 65: 5, 11: 5, 15: 5, 8: 4, 45: 4, 25: 4, 10: 4, 69: 4, 59: 3, 48: 3, 29: 3, 71: 3, 28: 3, 23: 3, 17: 3, 47: 2, 66: 2, 60: 2, 70: 2, 4: 2, 18: 2, 87: 1, 61: 1, 81: 1, 12: 1, 16: 1, 76: 1, 77: 1, 36: 1, 38: 1})

In [34]:
from imblearn.over_sampling import SMOTE
over = SMOTE(sampling_strategy=z)
# #now upper np.array

In [35]:
ex1=np.array(ex1)

In [36]:
class_value=list(class_value)
class_value=np.array(class_value)
print(class_value.shape)

(1415,)

In [37]:

class_value=class_value.reshape(-1,1)

In [38]:
print(ex1.shape)
print(class_value.shape)

(1415, 2)
(1415, 1)

In [39]:
X, y = over.fit_resample(ex1, class_value)

In [40]:
y=np.array(y)
y=y.reshape(-1,1)
print(y.shape)

(1415, 1)

In [41]:
X_train, X_test, y_train, y_test = train_test_split(X,y ,test_size=0.20, random_state=12345)

In [42]:
y_train.shape

(1132, 1)

In [43]:
y_train

array([[ 2],
       [50],
       [86],
       ...,
       [53],
       [88],
       [88]])

In [44]:
final_for=[]
teams,winners=[],[]
for i in range(len(X)):
    teams=[]
    teams.append(X[i][0])
    teams.append(X[i][1])
    teams.append(z[i])
    final_for.append(teams)
print(final_for)

[[86, 93, 43], [50, 59, 7], [70, 73, 64], [2, 95, 20], [7, 93, 2], [25, 95, 10], [50, 81, 34], [2, 25, 16], [41, 64, 4], [63, 81, 8], [86, 7, 4], [41, 59, 5], [2, 7, 1], [86, 25, 13], [70, 81, 16], [25, 59, 5], [2, 64, 1], [7, 81, 3], [86, 59, 2], [25, 37, 6], [2, 81, 18], [7, 64, 12], [86, 37, 60], [63, 64, 3], [2, 37, 10], [41, 64, 4], [25, 58, 21], [63, 73, 8], [2, 93, 3], [7, 37, 3], [81, 79, 9], [25, 64, 13], [7, 39, 6], [2, 81, 96], [62, 64, 35], [63, 79, 8], [88, 93, 1], [41, 39, 13], [44, 59, 1], [27, 79, 20], [70, 81, 16], [42, 93, 15], [86, 93, 11], [63, 64, 10], [44, 81, 23], [25, 37, 4], [44, 64, 16], [27, 93, 2], [63, 81, 3], [41, 79, 8], [70, 79, 29], [88, 93, 32], [70, 81, 27], [64, 81, 62], [96, 39, 8], [0, 37, 6], [7, 64, 18], [41, 79, 18], [2, 64, 85], [88, 95, 3], [96, 25, 2], [63, 95, 1], [2, 7, 9], [0, 79, 16], [25, 64, 21], [63, 79, 5], [2, 37, 2], [96, 81, 6], [63, 64, 23], [25, 79, 4], [96, 37, 2], [2, 81, 3], [70, 79, 11], [25, 59, 60], [41, 81, 17], [96, 3, 54], [25, 81, 1], [2, 64, 1], [2, 25, 6], [88, 95, 6], [2, 39, 11], [41, 1, 1], [86, 95, 27], [7, 59, 10], [25, 1, 28], [88, 79, 9], [2, 93, 49], [63, 64, 1], [25, 37, 25], [7, 64, 0], [88, 59, 0], [25, 93, 0], [70, 79, 0], [2, 37, 0], [25, 59, 0], [88, 93, 0], [2, 79, 0], [70, 37, 0], [96, 59, 0], [88, 25, 0], [2, 64, 0], [42, 79, 0], [88, 64, 0], [2, 93, 0], [88, 93, 0], [7, 1, 0], [38, 56, 0], [44, 95, 0], [62, 90, 0], [0, 35, 0], [7, 56, 0], [62, 95, 0], [44, 90, 0], [0, 54, 0], [7, 35, 0], [97, 90, 0], [44, 58, 0], [41, 64, 0], [86, 81, 0], [25, 59, 0], [2, 64, 0], [41, 93, 0], [63, 79, 0], [62, 81, 0], [7, 93, 0], [62, 79, 0], [25, 81, 0], [2, 93, 0], [7, 37, 0], [62, 59, 0], [25, 79, 0], [7, 64, 0], [2, 37, 0], [25, 58, 0], [65, 81, 0], [7, 3, 0], [70, 93, 0], [88, 93, 0], [41, 79, 0], [41, 81, 0], [38, 95, 0], [0, 73, 0], [7, 58, 0], [44, 62, 0], [81, 95, 0], [0, 35, 0], [0, 95, 0], [38, 73, 0], [44, 58, 0], [7, 62, 0], [41, 59, 0], [70, 7, 0], [25, 93, 0], [88, 1, 0], [2, 59, 0], [25, 79, 0], [41, 64, 0], [86, 1, 0], [88, 93, 0], [2, 7, 0], [63, 64, 0], [25, 1, 0], [41, 7, 0], [2, 64, 0], [86, 93, 0], [63, 7, 0], [25, 81, 0], [96, 1, 0], [41, 3, 0], [86, 81, 0], [25, 59, 0], [96, 37, 0], [25, 93, 0], [63, 7, 0], [63, 7, 0], [63, 7, 0], [38, 73, 0], [0, 39, 0], [62, 62, 0], [38, 62, 0], [92, 1, 0], [62, 73, 0], [92, 39, 0], [38, 58, 0], [68, 73, 0], [0, 62, 0], [44, 73, 0], [0, 39, 0], [86, 81, 0], [86, 81, 0], [86, 81, 0], [41, 25, 0], [41, 25, 0], [41, 25, 0], [63, 79, 0], [2, 81, 0], [2, 81, 0], [2, 81, 0], [0, 39, 0], [0, 39, 0], [0, 39, 0], [96, 64, 0], [96, 64, 0], [96, 64, 0], [96, 64, 0], [88, 7, 0], [88, 7, 0], [92, 63, 0], [92, 63, 0], [92, 63, 0], [96, 1, 0], [96, 1, 0], [96, 1, 0], [25, 79, 0], [25, 79, 0], [25, 79, 0], [96, 37, 0], [88, 37, 0], [70, 94, 0], [70, 94, 0], [70, 94, 0], [25, 93, 0], [41, 3, 0], [41, 3, 0], [70, 81, 0], [86, 7, 0], [70, 81, 0], [86, 7, 0], [70, 81, 0], [41, 59, 0], [41, 59, 0], [41, 59, 0], [41, 81, 0], [41, 81, 0], [41, 81, 0], [63, 93, 0], [63, 93, 0], [63, 64, 0], [63, 64, 0], [63, 64, 0], [2, 59, 0], [0, 95, 0], [0, 95, 0], [2, 25, 0], [2, 25, 0], [63, 25, 0], [7, 81, 0], [63, 3, 0], [63, 25, 0], [7, 81, 0], [86, 37, 0], [63, 3, 0], [86, 37, 0], [86, 37, 0], [88, 37, 0], [7, 37, 0], [88, 7, 0], [88, 37, 0], [7, 37, 0], [88, 7, 0], [7, 37, 0], [70, 93, 0], [70, 93, 0], [70, 93, 0], [40, 93, 0], [0, 7, 0], [0, 7, 0], [0, 7, 0], [62, 39, 0], [81, 64, 0], [62, 39, 0], [81, 64, 0], [44, 73, 0], [62, 73, 0], [62, 73, 0], [44, 37, 0], [25, 3, 0], [44, 37, 0], [97, 64, 0], [2, 64, 0], [97, 3, 0], [25, 37, 0], [97, 64, 0], [2, 64, 0], [97, 3, 0], [25, 37, 0], [2, 64, 0], [25, 37, 0], [96, 7, 0], [7, 93, 0], [7, 93, 0], [88, 79, 0], [44, 1, 0], [44, 1, 0], [86, 95, 0], [86, 95, 0], [92, 3, 0], [2, 64, 0], [2, 64, 0], [88, 25, 0], [2, 64, 0], [63, 64, 0], [63, 64, 0], [41, 93, 0], [63, 64, 0], [41, 93, 0], [41, 93, 0], [2, 79, 0], [2, 37, 0], [2, 37, 0], [7, 93, 0], [7, 93, 0], [7, 93, 0], [63, 81, 0], [6, 72, 0], [51, 50, 0], [6, 50, 0], [76, 72, 0], [56, 72, 0], [56, 69, 0], [6, 45, 0], [51, 72, 0], [6, 69, 0], [76, 72, 0], [92, 56, 0], [92, 56, 0], [86, 64, 0], [92, 56, 0], [86, 64, 0], [63, 37, 0], [86, 64, 0], [63, 37, 0], [63, 37, 0], [62, 73, 0], [68, 39, 0], [68, 58, 0], [44, 73, 0], [44, 58, 0], [68, 73, 0], [0, 39, 0], [0, 39, 0], [0, 39, 0], [41, 3, 0], [41, 3, 0], [96, 25, 0], [96, 25, 0], [96, 25, 0], [92, 89, 0], [69, 67, 0], [69, 92, 0], [86, 81, 0], [74, 92, 0], [74, 92, 0], [69, 92, 0], [86, 81, 0], [87, 51, 0], [87, 51, 0], [58, 9, 0], [20, 65, 0], [58, 20, 0], [9, 65, 0], [9, 20, 0], [58, 65, 0], [25, 64, 0], [8, 30, 0], [8, 30, 0], [8, 30, 0], [50, 60, 0], [34, 55, 0], [94, 12, 0], [94, 55, 0], [12, 60, 0], [34, 44, 0], [34, 60, 0], [12, 55, 0], [94, 44, 0], [94, 31, 0], [33, 42, 0], [33, 42, 0], [37, 43, 0], [37, 43, 0], [37, 43, 0], [47, 61, 0], [37, 30, 0], [33, 42, 0], [24, 43, 0], [37, 42, 0], [49, 61, 0], [24, 61, 0], [37, 61, 0], [47, 43, 0], [24, 30, 0], [37, 24, 0], [33, 61, 0], [24, 42, 0], [33, 43, 0], [62, 95, 0], [55, 86, 0], [55, 50, 0], [56, 86, 0], [55, 86, 0], [56, 86, 0], [76, 45, 0], [76, 45, 0], [79, 63, 0], [69, 92, 0], [79, 92, 0], [79, 63, 0], [79, 92, 0], [69, 92, 0], [44, 95, 0], [69, 92, 0], [55, 56, 0], [24, 28, 0], [24, 28, 0], [55, 56, 0], [44, 95, 0], [85, 69, 0], [51, 49, 0], [61, 69, 0], [55, 56, 0], [51, 69, 0], [85, 49, 0], [51, 56, 0], [55, 69, 0], [85, 56, 0], [62, 88, 0], [41, 93, 0], [41, 93, 0], [62, 88, 0], [62, 88, 0], [96, 37, 0], [62, 88, 0], [31, 80, 0], [31, 80, 0], [31, 80, 0], [10, 89, 0], [16, 17, 0], [60, 12, 0], [17, 89, 0], [60, 12, 0], [10, 17, 0], [16, 89, 0], [60, 12, 0], [16, 17, 0], [10, 89, 0], [60, 12, 0], [17, 89, 0], [10, 16, 0], [16, 89, 0], [10, 17, 0], [77, 4, 0], [53, 87, 0], [77, 87, 0], [4, 23, 0], [77, 47, 0], [23, 87, 0], [4, 47, 0], [77, 23, 0], [4, 87, 0], [23, 47, 0], [4, 23, 0], [88, 59, 0], [88, 59, 0], [88, 59, 0], [7, 95, 0], [0, 95, 0], [7, 1, 0], [62, 73, 0], [44, 73, 0], [7, 95, 0], [44, 58, 0], [41, 79, 0], [62, 73, 0], [0, 95, 0], [44, 73, 0], [7, 1, 0], [41, 79, 0], [61, 95, 0], [85, 56, 0], [55, 92, 0], [85, 95, 0], [61, 95, 0], [55, 92, 0], [55, 92, 0], [85, 95, 0], [1, 52, 0], [13, 18, 0], [73, 13, 0], [55, 92, 0], [18, 52, 0], [73, 2, 0], [1, 13, 0], [68, 35, 0], [44, 58, 0], [1, 18, 0], [73, 52, 0], [70, 81, 0], [73, 18, 0], [13, 52, 0], [68, 39, 0], [38, 56, 0], [1, 52, 0], [61, 58, 0], [38, 39, 0], [70, 81, 0], [44, 56, 0], [68, 58, 0], [70, 81, 0], [76, 43, 0], [38, 58, 0], [68, 56, 0], [76, 43, 0], [76, 43, 0], [14, 74, 0], [36, 74, 0], [36, 14, 0], [57, 23, 0], [81, 77, 0], [38, 39, 0], [50, 58, 0], [36, 14, 0], [92, 62, 0], [10, 63, 0], [49, 60, 0], [60, 58, 0], [50, 73, 0], [92, 39, 0], [57, 23, 0], [60, 63, 0], [16, 43, 0], [10, 77, 0], [38, 62, 0], [69, 73, 0], [92, 35, 0], [44, 62, 0], [10, 44, 0], [16, 60, 0], [60, 73, 0], [62, 77, 0], [92, 43, 0], [10, 55, 0], [66, 62, 0], [50, 77, 0], [16, 39, 0], [38, 43, 0], [62, 63, 0], [92, 60, 0], [16, 35, 0], [10, 73, 0], [69, 77, 0], [44, 43, 0], [50, 55, 0], [87, 68, 0], [16, 62, 0], [44, 60, 0], [35, 68, 0], [10, 58, 0], [87, 32, 0], [87, 68, 0], [60, 77, 0], [2, 81, 0], [50, 63, 0], [38, 60, 0], [35, 68, 0], [49, 62, 0], [62, 73, 0], [87, 32, 0], [92, 16, 0], [92, 58, 0], [60, 62, 0], [2, 81, 0], [92, 73, 0], [38, 62, 0], [68, 73, 0], [63, 25, 0], [2, 81, 0], [44, 58, 0], [60, 63, 0], [44, 55, 0], [62, 63, 0], [63, 25, 0], [41, 7, 0], [63, 25, 0], [2, 64, 0], [54, 53, 0], [54, 53, 0], [54, 53, 0], [54, 53, 0], [41, 7, 0], [63, 25, 0], [2, 64, 0], [54, 53, 0], [54, 53, 0], [41, 7, 0], [0, 93, 0], [0, 93, 0], [0, 93, 0], [61, 11, 0], [61, 50, 0], [41, 93, 0], [11, 50, 0], [41, 93, 0], [61, 50, 0], [41, 93, 0], [41, 81, 0], [41, 81, 0], [96, 39, 0], [96, 39, 0], [63, 37, 0], [70, 7, 0], [70, 7, 0], [63, 37, 0], [63, 37, 0], [76, 91, 0], [86, 25, 0], [76, 91, 0], [86, 25, 0], [76, 91, 0], [86, 25, 0], [55, 35, 0], [55, 35, 0], [86, 3, 0], [43, 88, 0], [56, 69, 0], [51, 72, 0], [68, 6, 0], [55, 35, 0], [86, 3, 0], [43, 72, 0], [68, 69, 0], [55, 35, 0], [6, 50, 0], [51, 88, 0], [68, 50, 0], [80, 88, 0], [6, 69, 0], [43, 45, 0], [55, 35, 0], [6, 45, 0], [76, 88, 0], [86, 3, 0], [51, 88, 0], [91, 77, 0], [55, 56, 0], [38, 56, 0], [91, 49, 0], [55, 77, 0], [91, 35, 0], [91, 56, 0], [38, 77, 0], [88, 93, 0], [38, 49, 0], [0, 39, 0], [88, 93, 0], [0, 39, 0], [87, 30, 0], [87, 30, 0], [7, 95, 0], [7, 95, 0], [37, 40, 0], [53, 23, 0], [53, 23, 0], [53, 8, 0], [8, 23, 0], [8, 23, 0], [53, 8, 0], [25, 64, 0], [25, 64, 0], [25, 3, 0], [25, 3, 0], [25, 3, 0], [14, 51, 0], [14, 51, 0], [77, 14, 0], [77, 14, 0], [77, 14, 0], [77, 14, 0], [70, 95, 0], [70, 95, 0], [70, 95, 0], [63, 93, 0], [86, 25, 0], [63, 93, 0], [86, 25, 0], [86, 25, 0], [2, 37, 0], [2, 37, 0], [2, 37, 0], [63, 64, 0], [63, 64, 0], [63, 64, 0], [68, 66, 0], [7, 73, 0], [44, 57, 0], [88, 55, 0], [81, 66, 0], [68, 7, 0], [60, 58, 0], [88, 39, 0], [7, 66, 0], [68, 73, 0], [60, 39, 0], [88, 58, 0], [2, 79, 0], [25, 93, 0], [88, 7, 0], [41, 64, 0], [0, 73, 0], [86, 93, 0], [71, 59, 0], [25, 7, 0], [81, 55, 0], [3, 81, 0], [96, 7, 0], [0, 64, 0], [86, 81, 0], [25, 3, 0], [0, 0, 0], [41, 59, 0], [26, 81, 0], [86, 7, 0], [70, 55, 0], [63, 73, 0], [41, 1, 0], [2, 7, 0], [96, 81, 0], [63, 55, 0], [41, 73, 0], [3, 93, 0], [26, 79, 0], [63, 1, 0], [70, 73, 0], [41, 55, 0], [25, 59, 0], [70, 3, 0], [63, 3, 0], [70, 79, 0], [70, 79, 0], [70, 79, 0], [63, 3, 0], [63, 3, 0], [63, 3, 0], [96, 81, 0], [63, 3, 0], [96, 81, 0], [63, 3, 0], [96, 81, 0], [41, 25, 0], [41, 25, 0], [41, 25, 0], [0, 95, 0], [41, 25, 0], [0, 95, 0], [0, 95, 0], [41, 25, 0], [63, 7, 0], [63, 7, 0], [63, 7, 0], [60, 91, 0], [60, 91, 0], [60, 91, 0], [86, 64, 0], [86, 64, 0], [86, 64, 0], [86, 64, 0], [61, 58, 0], [55, 58, 0], [61, 49, 0], [61, 58, 0], [97, 64, 0], [61, 49, 0], [97, 64, 0], [61, 58, 0], [97, 64, 0], [23, 47, 0], [4, 47, 0], [23, 4, 0], [23, 47, 0], [4, 47, 0], [23, 4, 0], [25, 81, 0], [14, 74, 0], [36, 70, 0], [25, 81, 0], [36, 74, 0], [14, 70, 0], [77, 74, 0], [14, 33, 0], [77, 74, 0], [25, 81, 0], [96, 79, 0], [14, 70, 0], [96, 79, 0], [96, 79, 0], [96, 79, 0], [96, 79, 0], [57, 8, 0], [57, 8, 0], [57, 8, 0], [96, 3, 0], [57, 8, 0], [96, 3, 0], [96, 3, 0], [96, 3, 0], [25, 64, 0], [96, 3, 0], [25, 64, 0], [44, 79, 0], [25, 64, 0], [97, 7, 0], [44, 79, 0], [97, 7, 0], [8, 4, 0], [8, 4, 0], [44, 79, 0], [8, 4, 0], [97, 7, 0], [88, 37, 0], [88, 37, 0], [88, 37, 0], [96, 64, 0], [7, 3, 0], [7, 3, 0], [33, 61, 0], [32, 61, 0], [33, 29, 0], [7, 3, 0], [33, 29, 0], [7, 3, 0], [32, 61, 0], [33, 61, 0], [33, 61, 0], [7, 3, 0], [24, 83, 0], [24, 83, 0], [24, 83, 0], [78, 31, 0], [78, 31, 0], [75, 51, 0], [78, 31, 0], [35, 51, 0], [31, 83, 0], [75, 32, 0], [78, 31, 0], [31, 83, 0], [35, 51, 0], [31, 83, 0], [75, 32, 0], [31, 83, 0], [75, 51, 0], [44, 95, 0], [44, 95, 0], [7, 59, 0], [44, 95, 0], [14, 47, 0], [23, 36, 0], [53, 51, 0], [44, 95, 0], [77, 23, 0], [14, 51, 0], [7, 59, 0], [77, 36, 0], [14, 23, 0], [39, 47, 0], [77, 51, 0], [44, 95, 0], [77, 47, 0], [7, 59, 0], [39, 51, 0], [7, 59, 0], [87, 30, 0], [7, 59, 0], [94, 44, 0], [88, 79, 0], [50, 60, 0], [87, 30, 0], [94, 60, 0], [87, 30, 0], [88, 79, 0], [94, 60, 0], [50, 60, 0], [88, 79, 0], [94, 44, 0], [94, 60, 0], [81, 95, 0], [50, 60, 0], [94, 44, 0], [81, 95, 0], [81, 95, 0], [92, 55, 0], [22, 26, 0], [22, 26, 0], [22, 40, 0], [28, 40, 0], [92, 39, 0], [22, 40, 0], [22, 26, 0], [92, 39, 0], [22, 26, 0], [69, 73, 0], [28, 40, 0], [60, 73, 0], [92, 39, 0], [60, 63, 0], [33, 43, 0], [24, 42, 0], [78, 31, 0], [52, 82, 0], [24, 30, 0], [34, 75, 0], [54, 91, 0], [47, 43, 0], [52, 75, 0], [54, 82, 0], [24, 43, 0], [68, 63, 0], [34, 46, 0], [78, 91, 0], [33, 42, 0], [7, 73, 0], [44, 58, 0], [60, 81, 0], [34, 48, 0], [52, 91, 0], [24, 42, 0], [66, 76, 0], [69, 73, 0], [78, 75, 0], [89, 91, 0], [33, 43, 0], [68, 7, 0], [54, 75, 0], [34, 82, 0], [47, 43, 0], [66, 76, 0], [60, 58, 0], [83, 82, 0], [78, 46, 0], [24, 30, 0], [44, 81, 0], [34, 91, 0], [33, 42, 0], [7, 63, 0], [57, 32, 0], [66, 76, 0], [24, 43, 0], [68, 73, 0], [78, 82, 0], [52, 48, 0], [35, 84, 0], [44, 55, 0], [78, 48, 0], [83, 91, 0], [14, 84, 0], [62, 81, 0], [14, 32, 0], [76, 6, 0], [66, 76, 0], [57, 84, 0], [2, 79, 0], [56, 72, 0], [57, 14, 0], [25, 93, 0], [6, 45, 0], [14, 32, 0], [7, 81, 0], [76, 50, 0], [57, 84, 0], [66, 76, 0], [41, 64, 0], [51, 72, 0], [0, 73, 0], [66, 76, 0], [86, 93, 0], [63, 64, 0], [6, 50, 0], [7, 25, 0], [76, 72, 0], [60, 73, 0], [51, 50, 0], [2, 81, 0], [6, 72, 0], [7, 93, 0], [76, 45, 0], [0, 64, 0], [86, 81, 0], [2, 25, 0], [0, 55, 0], [41, 59, 0], [25, 81, 0], [12, 76, 0], [7, 79, 0], [59, 85, 0], [60, 64, 0], [15, 53, 0], [63, 73, 0], [84, 85, 0], [0, 37, 0], [2, 7, 0], [88, 93, 0], [12, 15, 0], [60, 59, 0], [59, 76, 0], [41, 73, 0], [12, 53, 0], [2, 93, 0], [15, 85, 0], [25, 79, 0], [15, 76, 0], [0, 59, 0], [12, 85, 0], [9, 89, 0], [5, 16, 0], [70, 73, 0], [72, 89, 0], [9, 16, 0], [1, 5, 0], [41, 55, 0], [9, 65, 0], [10, 89, 0], [5, 10, 0], [1, 9, 0], [25, 59, 0], [1, 65, 0], [10, 16, 0], [5, 9, 0], [2, 64, 0], [10, 65, 0], [1, 89, 0], [5, 89, 0], [9, 10, 0], [5, 65, 0], [1, 16, 0], [16, 65, 0], [2, 59, 0], [1, 10, 0], [66, 85, 0], [50, 91, 0], [66, 91, 0], [50, 85, 0], [41, 59, 0], [90, 91, 0], [50, 60, 0], [50, 85, 0], [66, 91, 0], [7, 64, 0], [41, 59, 0], [90, 91, 0], [50, 60, 0], [7, 64, 0], [50, 91, 0], [66, 85, 0], [41, 59, 0], [7, 64, 0], [70, 93, 0], [70, 93, 0], [70, 93, 0], [93, 39, 0], [93, 39, 0], [96, 25, 0], [96, 25, 0], [96, 25, 0], [96, 25, 0], [96, 25, 0], [2, 81, 0], [68, 56, 0], [61, 88, 0], [68, 39, 0], [44, 88, 0], [68, 88, 0], [44, 56, 0], [2, 81, 0], [41, 93, 0], [16, 67, 0], [68, 56, 0], [2, 81, 0], [6, 30, 0], [44, 88, 0], [41, 93, 0], [61, 67, 0], [68, 16, 0], [6, 39, 0], [33, 88, 0], [2, 81, 0], [41, 93, 0], [6, 88, 0], [33, 39, 0], [16, 56, 0], [68, 67, 0], [6, 67, 0], [16, 30, 0], [61, 88, 0], [68, 39, 0], [6, 16, 0], [33, 67, 0], [44, 88, 0], [68, 56, 0], [41, 81, 0], [41, 81, 0], [41, 81, 0], [7, 1, 0], [7, 1, 0], [61, 63, 0], [55, 63, 0], [61, 49, 0], [61, 63, 0], [55, 63, 0], [61, 49, 0], [61, 63, 0], [70, 3, 0], [60, 91, 0], [60, 91, 0], [60, 91, 0], [17, 5, 0], [17, 5, 0], [17, 5, 0], [17, 5, 0], [17, 5, 0], [37, 61, 0], [87, 61, 0], [37, 61, 0], [87, 34, 0], [87, 34, 0], [87, 61, 0], [24, 28, 0], [24, 28, 0], [24, 28, 0], [57, 32, 0], [57, 36, 0], [35, 36, 0], [57, 70, 0], [23, 32, 0], [14, 36, 0], [57, 23, 0], [14, 23, 0], [39, 70, 0], [14, 32, 0], [23, 70, 0], [14, 70, 0], [23, 36, 0], [35, 70, 0], [57, 14, 0], [14, 32, 0], [23, 36, 0], [57, 70, 0], [97, 55, 0], [97, 55, 0], [37, 43, 0], [37, 43, 0], [97, 55, 0], [37, 43, 0], [97, 55, 0], [97, 55, 0], [4, 36, 0], [4, 36, 0], [88, 3, 0], [88, 3, 0], [33, 4, 0], [41, 79, 0], [33, 83, 0], [33, 4, 0], [4, 83, 0], [8, 51, 0], [53, 84, 0], [4, 83, 0], [97, 1, 0], [8, 51, 0], [53, 84, 0], [88, 3, 0], [33, 83, 0], [8, 51, 0], [33, 4, 0], [97, 1, 0], [41, 79, 0], [97, 1, 0], [41, 79, 0], [41, 79, 0], [31, 26, 0], [31, 26, 0], [14, 74, 0], [14, 74, 0], [14, 74, 0], [14, 74, 0], [44, 37, 0], [8, 32, 0], [57, 80, 0], [85, 49, 0], [24, 36, 0], [46, 68, 0], [44, 37, 0], [24, 32, 0], [57, 68, 0], [85, 49, 0], [8, 36, 0], [46, 80, 0], [85, 49, 0], [35, 36, 0], [75, 80, 0], [8, 24, 0], [46, 51, 0], [55, 11, 0], [8, 68, 0], [85, 63, 0], [24, 80, 0], [56, 86, 0], [55, 11, 0], [39, 41, 0], [85, 63, 0], [35, 51, 0], [96, 7, 0], [55, 86, 0], [11, 50, 0], [8, 80, 0], [24, 68, 0], [11, 86, 0], [55, 50, 0], [11, 50, 0], [55, 86, 0], [25, 37, 0], [96, 7, 0], [56, 86, 0], [4, 47, 0], [23, 47, 0], [82, 14, 0], [55, 50, 0], [11, 86, 0], [23, 4, 0], [82, 14, 0], [4, 47, 0], [82, 14, 0], [25, 37, 0], [23, 47, 0], [23, 4, 0], [25, 37, 0], [55, 11, 0], [49, 89, 0], [97, 77, 0], [38, 91, 0], [62, 63, 0], [85, 89, 0], [97, 43, 0], [22, 40, 0], [36, 42, 0], [38, 58, 0], [69, 91, 0], [31, 83, 0], [77, 87, 0], [21, 83, 0], [22, 70, 0], [31, 42, 0], [45, 74, 0], [38, 63, 0], [62, 91, 0], [49, 77, 0], [97, 89, 0], [38, 77, 0], [49, 91, 0], [47, 83, 0], [82, 87, 0], [62, 89, 0], [97, 63, 0], [21, 33, 0], [45, 70, 0], [31, 33, 0], [77, 74, 0], [21, 42, 0], [22, 87, 0], [38, 91, 0], [49, 77, 0], [69, 89, 0], [97, 58, 0], [22, 74, 0], [36, 83, 0], [31, 21, 0], [45, 87, 0], [44, 59, 0], [21, 74, 0], [31, 22, 0], [45, 42, 0], [77, 83, 0], [44, 59, 0], [44, 59, 0], [4, 47, 0], [28, 61, 0], [14, 34, 0], [23, 29, 0], [4, 78, 0], [23, 61, 0], [32, 84, 0], [37, 47, 0], [4, 34, 0], [28, 84, 0], [14, 78, 0], [32, 61, 0], [81, 59, 0], [25, 79, 0], [14, 47, 0], [67, 84, 0], [23, 26, 0], [37, 78, 0], [25, 79, 0], [29, 53, 0], [29, 53, 0], [81, 59, 0], [96, 37, 0], [29, 53, 0], [4, 14, 0], [23, 84, 0], [97, 7, 0], [29, 53, 0], [53, 78, 0], [28, 29, 0], [29, 53, 0], [14, 23, 0], [32, 34, 0], [97, 7, 0], [29, 53, 0], [4, 61, 0], [53, 84, 0], [25, 79, 0], [96, 37, 0], [97, 7, 0], [96, 37, 0], [44, 79, 0], [62, 59, 0], [62, 59, 0], [44, 79, 0], [41, 93, 0], [41, 93, 0], [44, 1, 0], [96, 59, 0], [44, 1, 0], [44, 1, 0], [96, 59, 0], [6, 45, 0], [6, 45, 0], [96, 59, 0], [44, 1, 0], [6, 45, 0], [44, 1, 0], [6, 45, 0], [38, 77, 0], [51, 88, 0], [85, 88, 0], [38, 45, 0], [51, 77, 0], [38, 88, 0], [50, 56, 0], [50, 56, 0], [0, 81, 0], [50, 56, 0], [41, 64, 0], [50, 56, 0], [50, 56, 0], [0, 7, 0], [38, 37, 0], [7, 81, 0], [38, 64, 0], [0, 81, 0], [41, 64, 0], [41, 81, 0], [0, 64, 0], [0, 37, 0], [95, 27, 0], [19, 71, 0], [70, 81, 0], [19, 27, 0], [95, 71, 0], [95, 19, 0], [30, 71, 0], [70, 81, 0], [19, 71, 0], [95, 27, 0], [95, 71, 0], [19, 27, 0], [30, 71, 0], [95, 19, 0], [12, 91, 0], [15, 48, 0], [34, 53, 0], [50, 48, 0], [15, 85, 0], [50, 85, 0], [12, 31, 0], [59, 91, 0], [15, 44, 0], [12, 53, 0], [54, 85, 0], [34, 91, 0], [41, 3, 0], [70, 25, 0], [50, 91, 0], [12, 85, 0], [90, 91, 0], [70, 25, 0], [41, 3, 0], [70, 25, 0], [41, 3, 0], [92, 7, 0], [70, 25, 0], [92, 7, 0], [41, 79, 0], [70, 25, 0], [70, 25, 0], [41, 79, 0], [70, 25, 0], [41, 79, 0], [2, 93, 0], [7, 64, 0], [2, 93, 0], [63, 64, 0], [48, 38, 0], [63, 7, 0], [2, 25, 0]]

In [45]:
final_for=np.array(final_for)

In [46]:
final_for_frame=pd.DataFrame(final_for)

In [47]:
final_for_frame.columns=["Team_1","Team_2","Winner"]
final_for_frame
#rf e jabo

      Team_1  Team_2  Winner
0         86      93      43
1         50      59       7
2         70      73      64
3          2      95      20
4          7      93       2
...      ...     ...     ...
1410       2      93       0
1411      63      64       0
1412      48      38       0
1413      63       7       0
1414       2      25       0

[1415 rows x 3 columns]

### Random Forest Classifier

In [48]:
rf = RandomForestClassifier(n_estimators=500,max_depth=22,random_state=1234) 
rf.fit(X, y)
y_pred = rf.predict(X_test)
from sklearn.metrics import accuracy_score
print("Testing set accuracy: ",accuracy_score(y_test,rf.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,rf.predict(X_train)))
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Local\Temp\ipykernel_8188\3259159789.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  rf.fit(X, y)

Testing set accuracy:  0.8303886925795053
Training set accuracy:  0.8206713780918727
Precision Score :  0.8303886925795053
Recall Score :  0.8303886925795053
F1 Score: 0.830

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### Multinomial Naive Bias

In [49]:
GB = MultinomialNB() 
GB.fit(X, y)
y_pred = GB.predict(X_test)
from sklearn.metrics import accuracy_score
print("Testing set accuracy: ",accuracy_score(y_test,GB.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,GB.predict(X_train)))
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

Testing set accuracy:  0.04240282685512368
Training set accuracy:  0.029151943462897525
Precision Score :  0.04240282685512368
Recall Score :  0.04240282685512368
F1 Score: 0.042

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### K-Nearest Neighbours

In [50]:
classifier= KNeighborsClassifier(n_neighbors=3, metric='minkowski', p=2 )  
classifier.fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,classifier.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,classifier.predict(X_train)))
y_pred = classifier.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

Testing set accuracy:  0.7067137809187279
Training set accuracy:  0.6519434628975265

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\neighbors\_classification.py:207: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return self._fit(X, y)

Precision Score :  0.7067137809187279
Recall Score :  0.7067137809187279
F1 Score: 0.707

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### Logistic Regression

In [51]:
LR = LogisticRegression(random_state=1) 
LR.fit(X, y)
print("Testing set accuracy: ",accuracy_score(y_test,LR.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,LR.predict(X_train)))
y_pred = LR.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Testing set accuracy:  0.10954063604240283
Training set accuracy:  0.09187279151943463
Precision Score :  0.10954063604240283
Recall Score :  0.10954063604240283
F1 Score: 0.110

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### Adaboost Classifier

In [52]:
clf = AdaBoostClassifier()
clf.fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,clf.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,clf.predict(X_train)))
y_pred = clf.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Testing set accuracy:  0.10600706713780919
Training set accuracy:  0.08745583038869258
Precision Score :  0.10600706713780919
Recall Score :  0.10600706713780919
F1 Score: 0.106

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### XGBoost Classifier

In [53]:
model = XGBClassifier()
model.fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,model.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,model.predict(X_train)))
y_pred = model.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

Testing set accuracy:  0.8268551236749117
Training set accuracy:  0.8215547703180212
Precision Score :  0.8268551236749117
Recall Score :  0.8268551236749117
F1 Score: 0.827

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### Voting Ensemble Classifier

In [54]:
estimator = []
estimator.append(('LR', 
                  LogisticRegression(solver ='lbfgs', 
                                     multi_class ='multinomial', 
                                     max_iter = 200)))
estimator.append(('SVC', SVC(gamma ='auto', probability = True)))
estimator.append(('DTC', DecisionTreeClassifier()))

In [55]:
vote_hard = VotingClassifier(estimators=estimator,voting ='hard')
vote_hard.fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,vote_hard.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,vote_hard.predict(X_train)))
y_pred = vote_hard.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Testing set accuracy:  0.8374558303886925
Training set accuracy:  0.8109540636042403
Precision Score :  0.8374558303886925
Recall Score :  0.8374558303886925
F1 Score: 0.837

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

In [56]:
vote_soft = VotingClassifier(estimators = estimator,voting ='soft')
vote_soft.fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,vote_soft.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,vote_soft.predict(X_train)))
y_pred = vote_soft.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:98: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\preprocessing\_label.py:133: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Testing set accuracy:  0.833922261484099
Training set accuracy:  0.8197879858657244
Precision Score :  0.833922261484099
Recall Score :  0.833922261484099
F1 Score: 0.834

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### Gradient Boosting Classifier

In [57]:
from sklearn.ensemble import GradientBoostingClassifier
GB = GradientBoostingClassifier()
GB.fit(X, y)
print("Testing set accuracy: ",accuracy_score(y_test,GB.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,GB.predict(X_train)))
y_pred = GB.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\ensemble\_gb.py:570: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Testing set accuracy:  0.5830388692579506
Training set accuracy:  0.5962897526501767
Precision Score :  0.5830388692579506
Recall Score :  0.5830388692579506
F1 Score: 0.583

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

 ### HistGradientBoostingClassifier

In [58]:
from sklearn.ensemble import HistGradientBoostingClassifier
Histclf = HistGradientBoostingClassifier(max_iter=100)
Histclf.fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,Histclf.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,Histclf.predict(X_train)))
y_pred = Histclf.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\utils\validation.py:1111: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Testing set accuracy:  0.8303886925795053
Training set accuracy:  0.8206713780918727
Precision Score :  0.8303886925795053
Recall Score :  0.8303886925795053
F1 Score: 0.830

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### BaggingClassifier

In [59]:
from sklearn.ensemble import BaggingClassifier
bagging = BaggingClassifier(rf).fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,bagging.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,bagging.predict(X_train)))
y_pred =bagging.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\ensemble\_bagging.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Testing set accuracy:  0.8303886925795053
Training set accuracy:  0.8012367491166078
Precision Score :  0.8303886925795053
Recall Score :  0.8303886925795053
F1 Score: 0.830

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

### Decision Tree Classifier

In [60]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(criterion='gini', random_state=100)
dtree.fit(X,y)
print("Testing set accuracy: ",accuracy_score(y_test,dtree.predict(X_test)))
print("Training set accuracy: ",accuracy_score(y_train,dtree.predict(X_train)))
y_pred =dtree.predict(X_test)
print("Precision Score : ",precision_score(y_test, y_pred, pos_label='positive', average='micro'))
print("Recall Score : ",recall_score(y_test, y_pred, pos_label='positive',average='micro'))
print('F1 Score: %.3f' % f1_score(y_test, y_pred, pos_label='positive',average='micro'))

Testing set accuracy:  0.8445229681978799
Training set accuracy:  0.8171378091872792
Precision Score :  0.8445229681978799
Recall Score :  0.8445229681978799
F1 Score: 0.845

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(
C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\metrics\_classification.py:1386: UserWarning: Note that pos_label (set to 'positive') is ignored when average != 'binary' (got 'micro'). You may use labels=[pos_label] to specify a single positive class.
  warnings.warn(

In [61]:
ranking = pd.read_csv('icc_rankings.csv') 
fixtures = pd.read_csv('fixtures.csv')
pred_set = []

In [62]:
ranking1=ranking
ranking1

    Position           Team    Points
0          1         India     14,760
1          2        England  11,063\t
2          3       Pakistan  12,415\t
3          4   South Africa   9,544\t
4          5    New Zealand  10,865\t
5          6      Australia  10,554\t
6          7    West Indies    11,494
7          8    Sri Lanka\t     9,964
8          9   Bangladesh\t  10,220\t
9         10  Afghanistan\t   5,919\t
10        11     Zimbabwe\t   7,555\t
11        12       Ireland    8,805\t
12        13            UAE     4,775
13        14        Namibia     5,321
14        15       Scotland     3,820
15        16    Netherlands     4,036

In [63]:
for i in range(len(unique_name_final_val)):
    unique_name_final_val[i]=unique_name_final_val[i].replace(" ","")

ranking.replace(to_replace=[r"\\t|\\n|\\r", "\t|\n|\r"], value=[" ",""], regex=True, inplace=True)

In [64]:
ranking_list=[]
for i in ranking["Team"]:
    ranking_list.append(i.replace(" ",""))
ranking_list

['India',
 'England',
 'Pakistan',
 'SouthAfrica',
 'NewZealand',
 'Australia',
 'WestIndies',
 'SriLanka',
 'Bangladesh',
 'Afghanistan',
 'Zimbabwe',
 'Ireland',
 'UAE',
 'Namibia',
 'Scotland',
 'Netherlands']

In [65]:
ranking1.drop([12], inplace = True)
ranking1

    Position          Team  Points
0          1        India   14,760
1          2       England  11,063
2          3      Pakistan  12,415
3          4  South Africa   9,544
4          5   New Zealand  10,865
5          6     Australia  10,554
6          7   West Indies  11,494
7          8     Sri Lanka   9,964
8          9    Bangladesh  10,220
9         10   Afghanistan   5,919
10        11      Zimbabwe   7,555
11        12      Ireland    8,805
13        14       Namibia   5,321
14        15      Scotland   3,820
15        16   Netherlands   4,036

In [66]:
len(ranking_list)

16

In [67]:
ranking_team=[]
for i in ranking_list:
    if i!="UAE":
        s_name=unique_name_final_val.index(i)
        ranking_team.append(s_name)
ranking_team

[8, 5, 2, 0, 1, 7, 10, 6, 4, 14, 3, 11, 33, 17, 9]

In [68]:
len(ranking_team)

15

In [69]:
ranking1["Team"]=ranking_team

In [70]:
ranking1

    Position  Team  Points
0          1     8  14,760
1          2     5  11,063
2          3     2  12,415
3          4     0   9,544
4          5     1  10,865
5          6     7  10,554
6          7    10  11,494
7          8     6   9,964
8          9     4  10,220
9         10    14   5,919
10        11     3   7,555
11        12    11   8,805
13        14    33   5,321
14        15    17   3,820
15        16     9   4,036

In [71]:
ranking_list
print(ranking_list,ranking_team)

['India', 'England', 'Pakistan', 'SouthAfrica', 'NewZealand', 'Australia', 'WestIndies', 'SriLanka', 'Bangladesh', 'Afghanistan', 'Zimbabwe', 'Ireland', 'UAE', 'Namibia', 'Scotland', 'Netherlands'] [8, 5, 2, 0, 1, 7, 10, 6, 4, 14, 3, 11, 33, 17, 9]

In [72]:
new_team1=ranking_team[:7]
new_team2=ranking_team[7:14]
final_for_frame_new=pd.DataFrame()
final_for_frame_new["Team_1"]=new_team1
final_for_frame_new["Team_2"]=new_team2
finals=rf.predict(final_for_frame_new)
print(len(finals),finals)

7 [ 7  4  2  0  9 31  9]

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [73]:
new_team1=finals[:3]
new_team2=finals[3:6]
final_for_frame_new=pd.DataFrame()
final_for_frame_new["Team_1"]=new_team1
final_for_frame_new["Team_2"]=new_team2
finals1=rf.predict(final_for_frame_new)
print(len(finals1),finals1)

3 [6 3 2]

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

In [74]:
new_team1=finals1[:1]
new_team2=finals1[1:2]
final_for_frame_new=pd.DataFrame()
final_for_frame_new["Team_1"]=new_team1
final_for_frame_new["Team_2"]=new_team2
finals2=rf.predict(final_for_frame_new)
print(len(finals2),finals2)

1

C:\Users\ankus\AppData\Roaming\Python\Python310\site-packages\sklearn\base.py:443: UserWarning: X has feature names, but RandomForestClassifier was fitted without feature names
  warnings.warn(

 [6]

In [75]:
print("the winner is ",ranking_list[finals2[0]-1])

the winner is  Australia